body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(0,0,0,0.6);
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 20px black;
}

h1 {
  font-size: 22px;
}

h2 {
  margin-top: 20px;
}

ul {
  text-align: left;
}

.btn {
  display: block;
  margin-top: 20px;
  padding: 12px;
  background: #00ffcc;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}